<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".glb" />
            <mimeMap fileExtension=".fbx" mimeType="text/plain" />
            <mimeMap fileExtension=".glb" mimeType="model/gltf-buffer" />
        </staticContent>
    </system.webServer>
</configuration>
